@media screen and (min-width: 2000px) {
    body {
        font-size: 3.6rem;
    }
    h1 img {
        width: 200px;
    }
    header {
        height: auto;
    }
    main {
        height: auto;
    }

    .title h2 {
        font-size: 8rem;
    }
    .po_menu {
        height: auto;
    }
    .po_menu img {
        height: 400px;
    }
    .img_box img {
        height: initial;
        width: 80%;
    }

    footer {
        height: 70px;
    }
    footer p {
        line-height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        position: relative;
    }
    header {
        background: #000000;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    h1 {
        text-align: initial;
    }
    h1 img {
        width: 70px;
        margin: 5px;
    }
    #wrapper {
        display: initial;
        flex-wrap: initial;
    }
    .animation {
        margin: 0 auto;
    }
    .animation img {
        width: 90%;
        top: initial;
        bottom: 0;
    }
    main {
        margin-top: 80px;
        width: 100%;
    }
    .title {
        padding-top: 30px;
    }

    /*ポートフォリオ*/
    .other_main {
        height: auto;
    }
    .po_list {
        margin: 0 auto;
        width: 70%;
        grid-template-columns: 1fr;
    }

    .main_box h3, .explain {
        width: 60%;
        margin: 0 auto;
    }
    .explain {
        padding-bottom: 30px;
    }
    .explain li {
        text-align: left;
    }

    .main_content1, .main_content2 {
        grid-template-columns: 1fr;
    }

    .page_nav {
        padding-bottom: 50px;
    }

    /*ナビ*/
    .navArea {
        width: 100%;
        display: inline-block;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #043c78;
        padding-top: 55px;
        transition: 1s;
    }
    .nav li {
        margin-left: 20px;
    }
    /*ハンバーガーメニュー*/
    /*============.toggle_btn=============*/
    #target {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 1s;
    }

    .target_inner{
        width: 40px;
        height: 40px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 2px;
    }
    .target_inner_2 {
        top: 18px;
    }
    .target_inner_3 {
        bottom: 2px;
    }

    .fadein{
        transform: translateX(100%);
    }

    .linea {
        transform: rotate(225deg);
        top: 20px;
    }
    .lineb {
        opacity: 0;
    }
    .linec {
        transform: rotate(-225deg);
        top: 20px;
    }
}

/*スマホ*/
@media screen and (max-width: 480px) {
    .logo {
        width: 70%;
    }
    .animation img {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }

    .title h2 {
        font-size: 4.0rem;
    }
    .sub2 {
        letter-spacing: 1rem;
        font-size: 1.4rem;
    }

    /*ポートフォリオ*/
    .po_menu {
        height: initial;
    }
    .po_menu img, .img_box img {
        height: initial;
        width: 80%;
    }
    .po_menu h3 {
        padding-bottom: 10px;
    }

    .main_box h3, .explain {
        width: 90%;
    }
    .main_box h3 {
        font-size: 1.6rem;
    }
    .explain ul li {
        font-size: 1.4rem;
    }
    .main_content2 img {
        width: 90%;
    }
}