@media screen and (min-width: 2000px) {
    body {
        font-size: 3.6rem;
    }
    h1 img {
        width: 200px;
    }

    .title h2 {
        font-size: 8rem;
    }
    .img_box img {
        height: initial;
        width: 80%;
    }

    .pro_wrapper {
        margin: 50px 300px;
    }
    .hexagon {
        width: 180px;
    }
    .hexagon2 {
        width: 180px;
    }
    .pro_box2 {
        bottom: 156px;
        left: 258px;
    }
    .hexagon__inner-1::before, .hexagon__inner-1::after,
    .hexagon__inner-2::before, .hexagon__inner-2::after,
    .hexagon__inner-3::before, .hexagon__inner-3::after {
        height: 10px;
    }
    .pro_list strong {
        font-size: 3rem;
        width: 100%;
    }
    .skill_wrapper {
        width: 600px;
        height: 450px;
        position: absolute;
        top: 230px;
        right: 200px;
    }
    .skill_wrapper h3 {
        font-size: 3rem;
    }
    table th, table td {
        font-size: 2.8rem;
    }

    footer {
        height: 70px;
    }
    footer p {
        line-height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        position: relative;
    }
    header {
        background: #000000;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    #wrapper {
        display: initial;
        flex-wrap: initial;
    }
    h1 {
        text-align: initial;
    }
    h1 img {
        width: 70px;
        margin: 5px;
    }
    main {
        width: 100%;
        margin-top: 80px;
    }
    .title {
        padding-top: 30px;
    }

    /*プロフィール*/
    .pro_wrapper {
        margin: 120px 0;
        position: absolute;
        top: 50px;
        left: 45%;
        transform: translateX(-55%);
        -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
    }
    .skill_wrapper {
        top: initial;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }

    .contact_wrapper strong {
        font-size: 2.4rem;
    }
    .contact_wrapper p {
        font-size: 2.2rem;
    }
    .contact_wrapper img {
        margin-bottom: 50px;
    }

    /*ナビ*/
    .navArea {
        width: 100%;
        display: inline-block;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #4AACBC;
        padding-top: 55px;
        transition: 1s;
        text-align: center;
    }
    .nav li a {
        color: #ffffff;
    }
    /*ハンバーガーメニュー*/
    /*============.toggle_btn=============*/
    #target {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 1s;
    }

    .target_inner{
        width: 40px;
        height: 40px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 2px;
    }
    .target_inner_2 {
        top: 18px;
    }
    .target_inner_3 {
        bottom: 2px;
    }

    .fadein{
        transform: translateX(100%);
    }

    .linea {
        transform: rotate(225deg);
        top: 20px;
    }
    .lineb {
        opacity: 0;
    }
    .linec {
        transform: rotate(-225deg);
        top: 20px;
    }
}

/*スマホ*/
@media screen and (max-width: 480px) {
    .logo {
        width: 70%;
    }
    .animation img {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }

    /*プロフィール*/
    .pro_wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .pro_box2 {
        position: initial;
    }

    /*すきる*/
    .skill_wrapper {
        width: 100%;
        border-radius: initial;
        top: initial;
        bottom: 80px;
    }

    /*コンタクト*/
    .contact_wrapper strong {
        font-size: initial;
    }
    .contact_wrapper p {
        width: 80%;
    }
    .contact_wrapper img {
        width: 90%;
    }
}