@media screen and (min-width: 1500px) {
    h1 img {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        position: relative;
    }
    header {
        background: #000000;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    h1 {
        text-align: initial;
    }
    h1 img {
        width: 70px;
        margin: 5px;
    }
    #wrapper {
        display: initial;
        flex-wrap: initial;
    }
    .animation {
        margin: 0 auto;
    }
    .animation img {
        top: initial;
        bottom: 0;
    }
    main {
        margin-top: 80px;
        width: 100%;
    }

    /*ポートフォリオ*/
    .other_main {
        height: auto;
    }
    .po_list {
        grid-template-columns: 1fr;
    }

    .explain {
        padding-bottom: 30px;
    }

    .main_content1, .main_content2 {
        grid-template-columns: 1fr;
    }
    .main_box img {
        margin-bottom: 20px;
    }

    .page_nav {
        padding-bottom: 50px;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    /*ナビ*/
    .navArea {
        width: 100%;
        display: inline-block;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #043c78;
        padding-top: 55px;
        transition: 1s;
    }
    .nav li {
        margin-left: 20px;
    }
    /*ハンバーガーメニュー*/
    /*============.toggle_btn=============*/
    #target {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 1s;
    }

    .target_inner{
        width: 40px;
        height: 40px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #ffffff;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 2px;
    }
    .target_inner_2 {
        top: 18px;
    }
    .target_inner_3 {
        bottom: 2px;
    }

    .fadein{
        transform: translateX(100%);
    }

    .linea {
        transform: rotate(225deg);
        top: 20px;
    }
    .lineb {
        opacity: 0;
    }
    .linec {
        transform: rotate(-225deg);
        top: 20px;
    }
}

/*スマホ*/
@media screen and (max-width: 480px) {
    .logo {
        width: 70%;
    }
    .animation img {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}